<!doctype html>
<html>
	<head>
		<title>My AngularJS App</title>
		<script src="angular.min.js"></script>
		<script>
			function Customer($scope){
				$scope.CustomerName = "Masoom";
				$scope.CustomerCode = "1001";
			}
			var myApp = angular.module("myApp", []);
			myApp.controller("CustomerObj", Customer)
		</script>
	</head>
	<body ng-app="MyApp">
		<div id="CustScreen" ng-controller="CustomerObj">
			Customer Name :- <input type="text" ng-model="CustomerName" id="CustomerName" />
			Customer Code :- <input type="text" ng-model="CustomerCode" id="CustomerCode" />
			<div id="divCustomerName">{{CustomerName}}</div>
			<div id="divCustomerCode">{{CustomerCode}}</div><br/>
		</div>
	</body>
</html>